# Data Science tools and ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
##### - Python
##### - SQL
##### - R

#### Some of the commonly used libraries used by Data Scientists include:
##### - Pandas : data manipulation & analysis
##### - NumPy : arrays & matrices
##### - Tensor Flow Deep learning 
##### - Matplotlib: Plotting & Graphs

#### Data Science Tools
| Data Science tools | 
| ------------------ |
| Jupyter Lab | 
| RStudio | 
| VS Code | 
| Google Colab |

In [151]:
# Below are a few examples of evaluating arithmetic expressions in Python
b = 5
X = 2 
Y = 3 
m = (X + Y)
y = m*X + b

In [157]:
#This a simple arithmetic expression to add then multiply 
k = (Y + X) * 2
print(k)

10

In [159]:
# This will convert 200 minutes to hours by diving by 60
print("1 hour = 60 minutes")

1 hour = 60 minutes

In [142]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 
hours = minutes / 60 ###### this will convert minutes to hours following the expression minutes.
print(hours)

3.3333333333333335

##### Objectives
##### 1- we learned the multiple data science tools available to write code

##### 2- We learned about repositories such as Github and how to operate on them collaboratively

##### 3- We learned about diverse tools for machine learning, deep learning, writing code, obtaining data from data sets, and more.

## Author name: Luis